<launch>

  <group ns="asc">
    <!-- Launch the lidar parsing nodes -->
    <!-- <include file="$(find asclinic_pkg/launch/rplidar.launch)" /> -->

    <!-- Launch the obstacle avoidance FSM node -->
    <node
      pkg    = "asclinic_pkg"
      name   = "obstacle_avoidance"
      output = "screen"
      type   = "obstacle_avoidance.py"
      />
  </group>

</launch>
